PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/pakkam_db
JWT_SECRET=your_jwt_secret_here
NODE_ENV=development
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
ADMIN_EMAIL=your_admin_email_here
ADMIN_PASSWORD=your_admin_password_here
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
